.Titulo{
    width: 100%;
    text-align: center;
    margin-top: 4vh;
    font-weight: 400;
    font-size: 3vh;
    margin-bottom: 5vh;
}
.FormModel{
    position: relative;
    background-color: #E1E5E8;
    border-radius: 2vh;
    margin-top: 2%;
    box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.118);
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-width: 450px;
    margin: 2vh;
}

.FormModel:hover{
    animation: animacaoDoModeloDeRelatorio 0.3s ease-in-out forwards;
}
@keyframes animacaoDoModeloDeRelatorio{
    0%{
        transform: scale(1);
        box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.118);
    }
    50%{
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.285);
    }
    100%{
        transform: scale(1.05);
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.485);
    }
    
}
.Centralize{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CentralizeTxt{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
h2, p, a{
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
    box-sizing: border-box;
}
.FormName{
    margin-bottom: 3vh;
    font-size: 2.7vh;
}
p{
    font-size: 1.9vh;
    width: 80%;
    margin-bottom: 2vh;
}

.FormModelButton{
    width: 6.5vh;
    height: 6.5vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 2vh;
    display: block;
}
.FormModelButton > img{
    cursor: pointer;
}

.CentralizeImg{
    position: relative;
    width: 60%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}